a {
 	font-family:Tahoma,Verdana, Arial, sans-serif;
 	font-size:14px;
 	color:#990000;
 	font-weight:bold;
 	text-decoration:none;
}

a:hover {
	font-family:Tahoma,Verdana, Arial, sans-serif;
 	font-size:14px;
 	color:#666666;
	font-weight:bold;
	text-decoration:none;

}

a.footer {
 	font-family:Tahoma,Verdana, Arial, sans-serif;
 	font-size:10px;
 	color:#000000;
 	font-weight:bold;
	 text-decoration:none;
}

a.footer:hover {
	font-family:Tahoma,Verdana, Arial, sans-serif;
 	font-size:10px;
 	color:#666666;
	font-weight:bold;
	text-decoration:none;
}

.tableborder {
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-right-color: #666666;
	border-left-color: #666666;
	background-color:ffffff;
}

.header_bg {
	background-image: url(images/header_bg.gif);
}

.headerright_image {
	background-image: url(images/headerimage_2.gif);
}

.username {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
	text-decoration: none;
}

.text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
	text-decoration: none;
}

.border {
	border-right:solid 2px #ffffff;
}

.table_border1 {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #666666;

}

.tablehead_blue {
	background-image: url(images/table_head.gif);
}

.infotable{
	display: table;
	border-collapse: collapse;
}

.infobox {
	border: 1px solid #666666;
	background-color: #FFFFFF;
	font-weight: 300;
}
.infobox TH{
	border: 1px solid #666666;
	background-color: #FFFFFF;
}

.infobox TR{
	border: 1px solid #666666;
}

.infobox TD{
	border: 1px solid #666666;
}

.copyright {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

.message {
	font: normal 14px Geneva, Arial, Helvetica, sans-serif;
}

.error {
	font: normal 12px Geneva, Arial, Helvetica, sans-serif;
	color: #FF0000;
}
